<o-form-layout-manager attr="Patient" mode="tab" title="PATIENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PatientTable" 
            service="Patient" 
            entity="Patient" 
            title="PATIENT"
            keys="id"
            columns="first_name;last_name;dob;gender;phone_number;id" 
            header-actions="R;D"
            visible-columns="first_name;last_name;dob;gender;phone_number;id"  
            sort-columns="first_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #first_name attr="first_name" title=" first_name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #last_name attr="last_name" title="last_name" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #dob attr="dob" type="date" label="dob" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #gender attr="gender" title="gender" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #phone_number attr="phone_number" title="phone_number" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>