<o-form #AppointmentForm attr="Appointment_form_insert" service="Appointment" entity="Appointment" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="doctor_id"
        service="Doctor" 
        entity="DoctorType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;doctor_id;first_name" 
        title="doctor_id"
        visible-columns="id;first_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="patient_id"
        service="Patient" 
        entity="PatientType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;patient_id;first_name" 
        title="patient_id"
        visible-columns="id;first_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #appointment_date attr="appointment_date" type="timestamp" label="appointment_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #reason attr="reason" label="reason" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>